{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="firstname" class="label">First name</label>
    <input name="firstname" id="firstname" required><br>
    <label for="lastname" class="label">Last name</label>
    <input type="lastname" name="lastname" id="lastname" required><br>
    <label for="username" class="label">Username</label>
    <input name="username" id="username" required><br>
    <label for="password" class="label">Password</label>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="Register">
  </form>
{% endblock %}
